$info: "info" #122ab2;
$white: "white" #FFF;
$menu: "menu" #2c70ff;
$gray-text: "gray-text" #7c7c7c;

$colors: $info $white $menu $gray-text; 

@each $c in $colors{
  .bg-#{nth($c, 1)} {
    background-color: #{nth($c, 2)} !important;
  }
  .color-#{nth($c, 1)} {
    color: #{nth($c, 2)} !important;
  }

  .hover-color-#{nth($c, 1)} {
    &:hover {
      color: #{nth($c, 2)} !important;
    }
  }
}
