@import "./text.scss";
@import "./colors.scss";
@import "./size.scss";
@import "./layout.scss";

//reset css

h2, a{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Utils
.centralize{
  justify-content: center;
  align-items: center;
}

.margin-auto{
  margin: auto;
}

.flex-grow{
  flex: 1;
}

.flex-wrap{
  flex-wrap: wrap;
}

.text-center{
  text-align: center;
}

.display-block{
  display: block;
}

.uppercase{
  text-transform: uppercase;
}

.pointer{
  cursor: pointer;
}